<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>购物车</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="../index.html" class="prev"></a>
		<h2 class="title">购物车</h2>
	</section>
	<section class="product-cart">
		<p class="total">我的积分：<strong>6500</strong></p>
		<section class="use">
			<!-- 加载有效商品数据源 -->
		</section>
		<section class="dis-use">
			<!-- 加载无效商品数据源 -->
		</section>
	</section>
	<!-- 结算菜单 -->
	<section class="order-submit-menu order-submit-menu1">
		<section class="total-commision">
			<p class="all-select" all-select><span class="select"></span>全选</p>
			<p class="total">合计：<strong money>0</strong>积分</p>
		</section>
		<a href="javascript:;" submit-order>去结算</a>
	</section>

	<!-- dialog beginning -->
	<section class="mask undis" mask></section>
	<section class="dialog delete-dialog undis" delete-dialog>
		<section class="dialog-con">
			<p class="txt">确定要删除此订单吗？</p>
			<section class="btn-group">
				<a href="javscript:;" cancel-btn>取消</a>
				<a href="javascript:;" class="confirm-btn" confirm-btn>确定</a>
			</section>
		</section>
	</section>
	<!-- dialog endding -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/shopping/cart.js"></script>
