<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>商品详情</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="../index.html" class="prev"></a>
		<h2 class="title">商品详情</h2>
	</section>
	<section class="detail">

		<!-- 从json读取数据商品详情信息 -->

	</section>

	<!-- 立即购买菜单固定 -->
	<section class="detail-fixed">
		<a href="../index.html"><p class="init">主页</p></a>
		<a href="./cart.html"><p class="cart">购物车</p></a>
		<a class="add" href="javascript:;" add-cart>加入购物车</a>
		<a class="buy" href="javascript:;" buy-now>立即购买</a>
	</section>
	<!-- 购买弹出框 -->
	<section class="mask undis" mask></section>
	<section class="buy-dialog undis" buy-dialog>
		<section class="buy-con">
			<div class="product">
				<p class="tit">颜色</p>
				<p class="select" select-color>
					<span>黄色<i></i></span>
					<span>黄绿色<i></i></span>
					<span>红色<i></i></span>
					<span>黑色<i></i></span>
					<span>蓝色<i></i></span>
				</p>
				<p class="tit">大小</p>
				<p class="select" select-lg>
					<span>大<i></i></span>
					<span>中<i></i></span>
					<span>小<i></i></span>
				</p>
			</div>
			<div class="number">
				<span class="tit-num">购买数量</span>
				<div class="num-box">
					<span class="minus">-</span>
					<span class="num">1</span>
					<span class="add">+</span>
				</div>
			</div>
			<i class="close" close></i>
		</section>
		<button type="button" confirm>确定</button>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/libs/jquery.slider.js"></script>
<script type="text/javascript" src="../../static/js/page/shopping/detail.js"></script>

