<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>购物车</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="javascript:;" class="prev"></a>
		<h2 class="title">购物车</h2>
	</section>
	<section class="submit-success empty-cart">
		<section class="pic">
			<img src="../../static/img/empty-cart.png" />
		</section>
		<p class="txt">还没有心仪的商品哦，赶紧去看看~</p>
		<p class="btn"><a href="../index.html" class="continue">返回首页</a><a href="./my-timeshop.html" class="check">开始抢购</a></p>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
