<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>抢购</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="../index.html" class="prev"></a>
		<h2 class="title">抢购</h2>
	</section>
	<section class="time-shop">
		<section class="shop-top">
			<!-- json读取 -->
			<p class="icon-timeshop"><img src="../../static/img/icon-timeshop.png" /></p>
		</section>
		<p class="line"><span>商家特卖</span><i></i></p>
		<section class="shop-bottom">
			<!-- json读取 -->
		</section>
	</section>

	<!-- dialog beginning -->
	<section class="mask undis" mask></section>
	<section class="dialog delete-dialog undis" delete-dialog>
		<section class="dialog-con">
			<p class="txt">如果要享受此价格，请在规定时间内提交订单！</p>
			<section class="btn-group">
				<a href="javscript:;" cancel-btn>知道了</a>
				<a href="./cart.html" class="confirm-btn" >查看购物车并结算</a>
			</section>
		</section>
	</section>
	<!-- dialog endding -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/shopping/my-timeshop.js"></script>
