<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>订单结算</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="./cart.html" class="prev"></a>
		<h2 class="title">订单结算</h2>
	</section>
	<section class="order-submit">
		<p class="total-money">积分总额：<strong>6500</strong></p>
		<section class="address">
			<a href="../address/select-address.html">
				<p class="user">
					<span class="name">牛魔王</span>
					<span class="tel">18701357890</span>
				</p>
				<p class="user-address">
					<span class="default">默认</span>
					新疆省吐鲁番市吐鲁番盆地北缘火焰山94号芭蕉洞5洞2层708室
				</p>
				<i class="icon-right"></i>
				<i class="icon-top"></i>
				<i class="icon-bottom"></i>
			</a>
		</section>

		<!-- 从json中读取订单信息 -->
		<!-- 从json读取数据 -->

	</section>

	<!-- 结算菜单 -->
	<section class="order-submit-menu">
		<section class="total-commision">
			<p class="product">共<span num>3</span>个订单</p>
			<p class="total">合计：<strong money>0</strong>积分</p>
		</section>
		<a href="javascript:;" submit-order>提交订单</a>
	</section>

	<!-- 弹窗 -->
	<!-- dialog beginning -->
	<section class="mask undis" mask></section>
	<section class="dialog submit-order-dialog undis" submit-dialog>
		<section class="dialog-con">
			<h2 class="tit">输入支付密码</h2>
			<section class="psd-box">
				<p class="group">
					<input type="password" placeholder="请输入支付密码" password/>
					<i eye></i>
				</p>
			</section>
			<section class="btn-group">
				<a href="javscript:;" cancel-btn>取消</a>
				<a href="javascript:;" class="confirm-btn" confirm-btn>确定</a>
			</section>
		</section>
	</section>
	<!-- dialog endding -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/shopping/order-submit.js"></script>
