<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>提交订单成功</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="javascript:;" class="prev"></a>
		<h2 class="title">提交订单成功</h2>
	</section>
	<section class="submit-success">
		<section class="pic">
			<img src="../../static/img/submit-success.png" />
		</section>
		<p class="txt">订单提交成功，包裹正在去您身边的路上~</p>
		<p class="btn"><a href="./product-classify.html" class="continue">继续购物</a><a href="../user/my-order.html" class="check">查看订单</a></p>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
