<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>首页</title>
<link rel="stylesheet" type="text/css" href="../static/css/base.css"/>
<script src="../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="index">
		<h2 class="logo"><img src="../static/img/index-logo.png" />致生活-积分购物</h2>
		<section class="slider">
			<section class="slider-img" id="slider">
				<ol>
					<li><a href="javascript:;"><img src="../static/img/index-banner.png" /></a></li>
					<li><a href="javascript:;"><img src="../static/img/index-banner.png" /></a></li>
					<li><a href="javascript:;"><img src="../static/img/index-banner.png" /></a></li>
					<li><a href="javascript:;"><img src="../static/img/index-banner.png" /></a></li>
				</ol>
			</section>	
			<ul class="slider-num" id="slideNum">
				<li>1</li>
				<li>2</li>
				<li>3</li>
				<li>4</li>
			</ul>
		</section>
		<section class="user-info">
			<ul>
				<li><i class="icon-credit"></i>我的积分：<strong credit></strong></li>
				<li card><i class="card"></i>每日打卡</strong><span class="add">+2积分</span></li>
			</ul>
		</section>
		<section class="sort">
			<ul class="shop">
				<li><a href="./shopping/my-timeshop.html">
					<p class="pic"><span class="gift"></span></p>
					<p class="txt">抢购</p></a>
				</li>
				<li><a href="./shopping/cart.html">
					<p class="pic"><span class="cart"></span></p>
					<p class="txt">购物车</p></a>
				</li>
				<li><a href="./user/my-credits.html">
					<p class="pic"><span class="money"></span></p>
					<p class="txt">我的积分</p></a>
				</li>
			</ul>
			<ul class="game">
				<li><a href="./game/puzzle.html"><p class="tit">限时拼图</p><img src="../static/img/icon-pintu.png" /></a></li>
				<li><a href="./game/see-color.html"><p class="tit">看你有多色</p><img src="../static/img/icon-lookcolor.png" /></a></li>
			</ul>
			<p class="notice"><span class="icon-notice">商城公告</span><marquee behavior="scroll">抢购活动倒计时<strong>90</strong>天，大家快来抢啊！</marquee></p>
		</section>
		<section class="product">
			<section line1>
				<p class="line line0"><span>商家特卖</span><i></i></p>
				<!-- 添加json数据 -->
			</section>
			<section line2>
				<p class="line line1"><span>新品专区</span><i></i></p>
				<!-- 添加json数据 -->
			</section>
			<section line3>
				<p class="line line2"><span>大家都在买</span><i></i></p>
				<!-- 添加json数据 -->
			</section>
		</section>
	</section>
	<section class="index-fixed">
		<ul>
			<li><a href="javascript:;">
				<p class="icon-fix"><span class="init"></span></p>
				<p class="txt">首页</p>
			</a></li>
			<li><a href="./shopping/product-classify.html">
				<p class="icon-fix"><span class="classify"></span></p>
				<p class="txt">分类</p>
			</a></li>
			<li><a href="./user/my-order.html">
				<p class="icon-fix"><span class="order"></span></p>
				<p class="txt">订单</p>
			</a></li>
			<li><a href="./user/user-center.html">
				<p class="icon-fix"><span class="my"></span></p>
				<p class="txt">我的</p>
			</a></li>
		</ul>
	</section>
</body>
</html>
<script type="text/javascript" src="../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/libs/jquery.slider.js"></script>
<script type="text/javascript" src="../static/js/page/index.js"></script>

