<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>我的积分</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="./user-center.html" class="prev"></a>
		<h2 class="title">我的积分</h2>
	</section>
	<section class="my-credits">
		<section class="credits-group">
			<div class="level-box" name="level-box">
				<div class="node-wrap" name="node-wrap">
					<ul>
						<li>
							<div class="level-step"></div>
							<p class="txt">0</p>
						</li>
						<li>
							<div class="level-step"></div>
							<p class="txt">3000</p>
						</li>
						<li>
							<div class="level-step"></div>
							<p class="txt">6000</p>
						</li>
						<li>
							<div class="level-step"></div>
							<p class="txt">9000</p>
						</li>
						<li>
							<div class="level-step"></div>
							<p class="txt">15000</p>
						</li>
						<li>
							<div class="level-step"></div>
							<p class="txt">20000</p>
						</li>
					</ul>
					<div class="level-progress" name="level-progress">
						<div class="level-bar"></div>
					</div>
				</div>
			</div>
		</section>
		<div class="total-money" total-money>我的积分总额：<strong>6500</strong></div>
	</section>
	<!-- fixed menu -->
	<section class="fixed-menu">
		<a href="../index.html"><span class="init"><i></i></span></a>
		<a href="../shopping/cart.html"><span class="cart"><i></i></span></a>
	</section>
	<!-- fixed munu -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/libs/jquery.carrousel.js"></script>
<script type="text/javascript" src="../../static/js/page/user/my-credits.js"></script>
