<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>我的订单</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="./user-center.html" class="prev"></a>
		<h2 class="title">我的订单</h2>
	</section>
	<section id="wrapper">
	<div class="my-order">
		<!-- 加载数据源 -->
	</div>
	</section>
	<!-- fixed menu -->
	<section class="fixed-menu">
		<a href="../index.html"><span class="init"><i></i></span></a>
		<a href="../shopping/cart.html"><span class="cart"><i></i></span></a>
	</section>
	<!-- fixed munu -->
	<!-- dialog beginning -->
	<section class="mask undis" mask></section>
	<section class="dialog delete-dialog undis" delete-dialog>
		<section class="dialog-con">
			<p class="txt">确定要删除此订单吗？</p>
			<section class="btn-group">
				<a href="javscript:;" cancel-btn>取消</a>
				<a href="javascript:;" class="confirm-btn" confirm-btn>确定</a>
			</section>
		</section>
	</section>
	<!-- dialog endding -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/user/my-order.js"></script>
