<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>订单详情</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body class="order-detail-bg">
	<section class="header">
		<a href="./my-order.html" class="prev"></a>
		<h2 class="title">订单详情</h2>
	</section>
	<section class="order-detail">
		
		<section class="footer">
			<p><span>支付流水号：</span><span>872980928891019379802</span></p>
			<p><span>下单时间：</span><span>2015-09-19 22:28:19</span></p>
			<p><span>如有任何问题，请拨客服热线：</span><strong>400-2773-2891</strong></p>
		</section>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/user/order-detail.js"></script>
