<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>登录</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="javascript:;" class="prev"></a>
		<h2 class="title">登录</h2>
	</section>
	<section class="sign">
		<form action="#">
			<section class="group">
				<label class="label" for="tel">手机号码</label>
				<input type="text" id="tel" placeholder="请输入手机号码" input-num value="13836057493"/>
				<i class="delete"></i>
			</section>
			<section class="group">
				<label class="label" for="password">服务密码</label>
				<input type="password" id="password" placeholder="请输入服务密码" input-password value="123456"/>
				<i class="no-eye" eye></i>
			</section>
		</form>
		<p class="sign-btn">
			<a href="javascript:;" btn-sign>登录</a>
		</p>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/user/sign.js"></script>
