<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>编辑收货地址</title>
<link rel="stylesheet" type="text/css" href="../../static/js/libs/mui/mui.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/js/libs/mui/mui.picker.min.css" />
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="./my-address.html" class="prev"></a>
		<h2 class="title">编辑收货地址</h2>
	</section>
	<section class="add-address">
		<form action="#" class="edit-form">
			<!-- 加载数据源 -->
			
		</form>
		<p class="delete" delete>删除收货地址</p>
		<p class="btn"><a class="btn-save disable" btn-save>保存并使用</a></p>
		<p class="btn"><a href="./my-address.html" class="back" back>返回</a></p>
	</section>
	<!-- dialog beginning -->
	<section class="mask undis" mask></section>
	<section class="dialog delete-dialog undis" delete-dialog>
		<section class="dialog-con">
			<p class="txt">确定要删除此收货地址吗？</p>
			<section class="btn-group">
				<a href="javscript:;" cancel-btn>取消</a>
				<a href="javascript:;" class="confirm-btn" confirm-btn>确定</a>
			</section>
		</section>
	</section>
	<!-- dialog endding -->
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/libs/mui/mui.min.js"></script>
<script type="text/javascript" src="../../static/js/libs/mui/mui.picker.min.js"></script>
<script type="text/javascript" src="../../static/js/libs/mui/city.data.js"></script>
<script type="text/javascript" src="../../static/js/page/address/edit-address.js"></script>