<!Doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta name="format-detection" content="telephone=no,address=no">
<title>选择收货地址</title>
<link rel="stylesheet" type="text/css" href="../../static/css/base.css"/>
<script src="../../static/js/common/root-font-size.js"></script>
</head>
<body>
	<section class="header">
		<a href="../shopping/order-submit.html" class="prev"></a>
		<h2 class="title">选择收货地址</h2>
	</section>
	<section class="my-address select-address" select-address>
		<ul class="address-list">
			<!-- 加载数据源 -->
		</ul>
		<p class="btn"><a href="./add-address.html" class="new">+ 新建地址</a></p>
	</section>
</body>
</html>
<script type="text/javascript" src="../../static/js/module/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/page/address/select-address.js"></script>